h1{
    text-align: center;
}
#Personnages{
    border: solid;
}
#main{
    border:solid;
    background: linear-gradient(rgb(255, 255, 255), #f81212);
}
.logo{
    width: 80%;
    margin-right:0%;
    margin-left:0%;
    margin-top:0%;
    margin-bottom:10%;
}
.cadre{
    border-style:solid;
    padding-right:0px;
    height: auto;
    width: 100%;
    background: linear-gradient(rgb(192, 224, 255), #0065fc);
}
.grille{
    margin:5%;
    height: 100%;
    min-height: 150px;
    width: auto;
    background: linear-gradient(rgb(250, 253, 60), #fceb00);
}
.avatar{
    border-style:solid;
    border-color:rgb(255, 51, 0);
    height: 100%;
    width: 100%;
    border-width: 4px;
    object-fit: cover;
}
.rotated{
    border-style:solid;
    border-color:rgb(255, 51, 0);
    height: 100%;
    width: 100%;
    animation: rotate;
    border-width: 4px;
    object-fit: cover;
    transition: all 1000ms ease-out;
}
.rotated:hover {
    transform: rotate3d(0,1,0,89deg);
}
.proposition{
    margin-top:0%;
    margin-left:0px;
    text-align:center;
}
.facile{
    text-align: center;
    top:0%;
}
body {
    font-family: 'ABeeZee';
    overflow-x: hidden;
}

/*css bouton*/
input{
    border-radius: 15px;
    height:auto;
    transition: all 500ms ease-out;
}
input:hover{
    background-color: rgb(189, 189, 189); 
}
.caseTableau{
    padding: 10px;
    width: 20%;
    height: 50%
}
.nom{
    text-align: center;
    position:relative;
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
img:not(.logo) {
    max-height: 100%;
    width: 100%;
}
input[type=button] {
    transition-duration: 0.5s;
    border: 2px solid #b83333;
    border-radius: 5px;
    font-size: 100%;  
    background-color: #ffffff;
  }
  
input[type=button]:hover {
    background-color: #8deb75;
    color: rgb(0, 0, 0);
  }

td:hover {background-color: rgba(255, 124, 2, 0.281);}