h1{
    text-align: center;
}
#Personnages{
    border: solid;
}
#main{
    border:solid;
}
.logo{
    width: 80%;
    margin-right:0%;
    margin-left:0%;
    margin-top:0%;
    margin-bottom:10%;
}
.cadre{
    border-style:solid;
    padding-right:0px;
    background: linear-gradient(rgb(192, 224, 255), #0065fc);
}
.grille{
    margin:5%;
    background: linear-gradient(rgb(250, 253, 60), #fceb00);
}
.avatar{
    border-style:solid;
    border-color:rgb(255, 51, 0);
    height: 100%;
    animation: rotate;
    border-width: 4px;
}
.proposition{
    margin-top:0%;
    margin-left:0px;
    text-align:center;
}
.facile{
    text-align: center;
    top:0%;
}
body {
    font-family: 'ABeeZee';
}

/*css bouton*/
input{
    border-radius: 15px;
    height:auto;
    transition: all 500ms ease-out;
}
input:hover{
    background-color: rgb(189, 189, 189); 
}
.caseTableau{
    width:1%;
    padding: 10px;
}
.nom{
    text-align: center;
    position:relative;
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
img:not(.logo) {
    height: 100%;
    width: 100%;
}
.card-container {
    perspective: 1200px;
    
}
.card {
    margin: 0 auto;
    height: auto;
    width: 100%;
    max-width: 80%;
    position: relative;
    transition: all 1s ease;
    transform-style: preserve-3d;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
}
.rotated {
    transform: rotateY(-180deg);
}
.card-contents {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}
.card-front {
    transform-style: preserve-3d;
}
.card-back {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}
td:hover {background-color: rgba(255, 124, 2, 0.281);}